<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
</head>
<body>
<div th:replace="~{navbar :: navi}"></div>
<div class="container">
    <form th:method="post" th:action="@{/add/}" th:object="${user}">

        <label for="Имя пользователя">Введите имя пользователя: </label>
        <input type="text" th:field="*{username}" id="Имя пользователя"/>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Имя пользователя должно содержать не менее 4 символов</span>
        <br/>
        <label for="Пароль">Введите пароль: </label>
        <input type="password" th:field="*{password}" id="Пароль"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Пароль должен содержать не менее 4 символов</span>
        <br/>
        <label for="Имя">Введите имя: </label>
        <input type="text" th:field="*{name}" id="Имя"/>
        <br/>
        <label for="Фамилия">Введите фамилию: </label>
        <input type="text" th:field="*{surname}" id="Фамилия"/>
        <br/>
        <label for="Возраст">Введите возраст: </label>
        <input type="text" th:field="*{age}" id="Возраст"/>
        <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Введите возраст от 1 до 127</span>
        <hr/>
        <div>
            <label for="Роль">Роль</label>
            <br>
            <select id="Роль" multiple="multiple" th:field="*{chosenRoles}">
                <option th:each="roleValue : ${rolesList}"
                        th:value="${roleValue.id}"
                        th:text="${roleValue.name}"></option>
            </select>
        </div>
        <input type="submit" value="Сохранить"/>
    </form>
</div>

</body>
</html>