<!--user/dashboard.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>User Dashboard</title>
</head>

<div sec:authorize="isAuthenticated()">
    <p>Logged as: <span sec:authentication="name"></span></p>
    <p>Has role: <span sec:authentication="authorities"></span></p>
    <div class="container">
        <p th:text="${'Имя: ' + user.getName()}"></p>
        <p th:text="${'Фамилия: ' + user.getSurname()}"></p>
        <p th:text="${'Возраст: ' + user.getAge()}"></p>
    </div>
    <a th:href="@{/logout}">Log out</a>
</div>
</html>