<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:roles="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid text-white">
            <span style="font-weight: bold;font-size: large" sec:authentication="name"></span> &nbsp;with roles:<span
                style="font-size:large"
                th:each="u: ${#authentication.getAuthorities()}"
                th:text="'&nbsp;'+ ${u}"></span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <div th:fragment="logout" class="ml-auto">
                    <a style="color: #cccccc" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>